Repository sverweij/upem: changes, and which lint-staged commands are due for each by the changed paths.
All: depcruise --validate -- src, eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.ts": ["depcruise --validate -- src", "eslint --fix"],
  "*.{ts,json,md,yml}": ["prettier --write"]
}

7.3.2
  docs/dependencygraph.html
  docs/dependencygraph.svg
  package.json
Due: prettier --write

chore: updates .gitattributes so GH linguist doesn't take the dist & docs folders into account
  .gitattributes
Due: none

build(npm): update external dependencies + use nodenext for moduleResolution
  .mocharc.cjs
  package.json
  src/cli.ts
  src/determine-policies.ts
  src/update-manifest.ts
  tsconfig.json
Due: depcruise --validate -- src, eslint --fix, prettier --write

chore: sets up codeql
  .github/codeql/codeql-config.yml
  .github/workflows/codeql-schedule.yml
Due: prettier --write

chore: tweaks .gitattributes to _really_ make linguist see docs & dist as docs & generated
  .gitattributes
Due: none

chore: drops node 14, 17 & 19 support BREAKING
  .github/workflows/ci.yml
  package.json
Due: prettier --write

build(npm): updates external devDependencies
  package.json
Due: prettier --write

8.0.0
  docs/dependencygraph.html
  docs/dependencygraph.svg
  package.json
Due: prettier --write

refactor(test): uses new URL canonically
  .mocharc.cjs
  dist/main.js
  src/main.spec.ts
  src/main.ts
  types/upem.d.ts
Due: depcruise --validate -- src, eslint --fix, prettier --write

build(npm): updates external devDependencies
  .dependency-cruiser.js
  package.json
Due: prettier --write

build(npm): updates external devDependencies
  package.json
  src/cli.ts
  src/determine-policies.ts
  src/main.spec.ts
  src/main.ts
  src/update-manifest.spec.ts
  src/update-manifest.ts
Due: depcruise --validate -- src, eslint --fix, prettier --write

refactor(test): replaces mocha with node:test
  .c8rc.json
  .codeclimate.yml
  .dependency-cruiser.js
  .eslintrc.cjs
  .github/CONTRIBUTING.md
  .mocharc.cjs
  package.json
  src/determine-policies.test.ts
  src/main.test.ts
  src/update-manifest.test.ts
  tsconfig.json
Due: depcruise --validate -- src, eslint --fix, prettier --write

fix(ci): makes the test run on node 16 as well
  .github/workflows/ci.yml
  package.json
Due: prettier --write

refactor(test): replaces mocha with node:test (#34)
  .c8rc.json
  .codeclimate.yml
  .dependency-cruiser.js
  .eslintrc.cjs
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .mocharc.cjs
  package.json
  src/determine-policies.test.ts
  src/main.test.ts
  src/update-manifest.test.ts
  tsconfig.json
Due: depcruise --validate -- src, eslint --fix, prettier --write

refactor(test): sources assertions from assert/strict to ease strict comparisons
  src/determine-policies.test.ts
  src/main.test.ts
  src/update-manifest.test.ts
Due: depcruise --validate -- src, eslint --fix, prettier --write

chore: replaces 'ts-node' with 'tsx'
  package.json
  tsconfig.json
Due: prettier --write

ci!: drops support for node 16 - BREAKING
  .github/workflows/ci.yml
  package.json
Due: prettier --write

refactor: moves types as close to where they define the interfaces as possible
  package.json
  src/cli.ts
  src/determine-policies.ts
  src/main.ts
  src/types.d.ts
  src/update-manifest.ts
Due: depcruise --validate -- src, eslint --fix, prettier --write

refactor: moves types as close to where they define the interfaces as possible (#35)
  package.json
  src/cli.ts
  src/determine-policies.ts
  src/main.ts
  src/types.d.ts
  src/update-manifest.ts
Due: depcruise --validate -- src, eslint --fix, prettier --write

ci: sets up automated publishing with provenance
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
  .npmrc
  package-lock.json
Due: prettier --write

ci: sets up automated publishing with provenance (#36)
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
  .npmrc
  package-lock.json
Due: prettier --write

9.0.0
  docs/dependencygraph.html
  docs/dependencygraph.svg
  package-lock.json
  package.json
Due: prettier --write

ci(npm): fixes repository field to match some other kind of format
  package.json
Due: prettier --write

9.0.1
  package-lock.json
  package.json
Due: prettier --write

build(npm): removes mocha related devDependencies
  package-lock.json
  package.json
Due: prettier --write

9.0.2
  package-lock.json
  package.json
Due: prettier --write

build(npm): updates external devDependencies
  .github/workflows/ci.yml
  package-lock.json
  package.json
Due: prettier --write

ci: on publish remove devDependencies & scripts
  package-lock.json
  package.json
Due: prettier --write

build(npm): updates external devDependencies
  package-lock.json
  package.json
  src/update-manifest.ts
Due: depcruise --validate -- src, eslint --fix, prettier --write

build(npm): formats emitted javascript
  dist/cli.js
  dist/determine-policies.js
  dist/main.js
  dist/update-manifest.js
  package.json
Due: prettier --write

9.0.3
  docs/dependencygraph.html
  docs/dependencygraph.svg
  package-lock.json
  package.json
Due: prettier --write

chore(dist): tabs < spaces
  dist/cli.js
  dist/determine-policies.js
  dist/main.js
  dist/update-manifest.js
  package.json
Due: prettier --write

build(npm): updates external devDependencies
  package-lock.json
  package.json
Due: prettier --write

chore: sets up dependabot for github actions
  .github/dependabot.yml
Due: prettier --write

chore(dependabot): renames the group that updates github actions to 'all-github-actions'
  .github/dependabot.yml
Due: prettier --write

9.0.4
  package-lock.json
  package.json
Due: prettier --write

chore(ci): also run on node 22
  .github/workflows/ci.yml
Due: prettier --write

refactor: addresses small linting issues
  src/determine-policies.ts
  src/update-manifest.ts
Due: depcruise --validate -- src, eslint --fix, prettier --write
